:root {
        --main-title-color:#303030;
        --fourth-text-color:#555555;
        --third-title-color:#FFFFFF;
        --header-text-color:#FFFFFF;
        --main-text-color:#303030;
        --second-text-color: #212121;
        --third-text-color:#9DA4BD;
        --accent-color: #FF6C00;
        --main-btn-color:#ffffff;
        --main-background-color: #FFFFFF;
        --two-background-color: #F7F7F7;
        --third-background-color: #191C26;
}

body {
    font-family: "Open Sans",sans-serif;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    background-color: var(--main-background-color);
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}
 
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*------- стилізація секції header----- */
.header {
    background-color: #7e7a7a;
}

.header-nav-link {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: var(--header-text-color);
}

.header-nav-link:hover,
.header-nav-link:focus {
    color: var(--accent-color);
}

.header-tel {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--header-text-color)
}

.header-tel:hover,
.header-tel:focus {
    color: var(--accent-color);
}    

.header-button {
        font-family: inherit;
        font-weight: 600;
        font-size: 12px;
        line-height: 1.33;
        letter-spacing: 0.09em;
        text-transform: uppercase;
        color: var(--header-text-color);
        cursor: pointer;
}

.header-button:hover,
.header-button:focus {
    color: var(--main-text-color);
    background-color: var(--accent-color);
}

/* ------Стилізація секції hero----- */
.hero {
   background-color: #555555; 
}

/* .hero-list {} */

/* .hero-item {} */

.hero-link {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: var(--main-text-color);
}

.hero-link:hover,
.hero-link:focus {
    color: var(--accent-color);
}

/* .hero-content {} */

.hero-content-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgba(157, 164, 189, 0.6);
}

.hero-title {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 72px;
    line-height: 1.13;
    letter-spacing: 0.05em;
    color: var(--header-text-color);
}

.hero-text {
    font-size: 18px;
    line-height: 1.67;
    color: var(--third-text-color);
}

/* ------Стилізація секції about---- */

/* .about {} */

/* .about-list {} */

/* .about-item {} */

.about-top-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.about-title {
    font-family: 'Raleway';
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
}

.about-text {
    font-size: 18px;
    line-height: 1.67;
    color: var(--fourth-text-color);
}

.about-us {
    font-size: 14px;
    line-height: 1.86;
    color: var(--fourth-text-color);
}

.about-button {
    font-family: inherit;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: var(--main-text-color);
    cursor: pointer;
}

.about-button:hover,
.about-button:focus {
    color: var(--main-btn-color);
    background-color: var(--accent-color);
}

/* ------Стилізація секції price----- */
.price {
    background-color: #4a4848;
}

.price-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgba(157, 164, 189, 0.6);
}

.price-title {
    font-family: 'Raleway';
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
    color: var(--third-title-color);
}

/* .price-list {} */

/* .price-item {} */

.price-item__text {
    font-size: 18px;
    line-height: 1.67;
    color: var(--third-text-color);
}

.price-item__sum {
    font-size: 18px;
    line-height: 1.67;
    color: var(--third-text-color);
}

.price-button {
    font-family: inherit;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: var(--main-text-color);
    cursor: pointer;
}

.price-button:hover,
.price-button:focus {
    color: var(--main-btn-color);
    background-color: var(--accent-color);
}

/* ------Стилізація секції features----- */
.features {
    background-color: var(--main-background-color);
}

.features-list {}

.features-item {
    background-color: var(--two-background-color);
}

.features-client {
    font-weight: 700;
    font-size: 42px;
    line-height: 1.36;
    letter-spacing: 0.05em;
    display: block;
    text-align: center;
}

.features-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-align: center;
}

.features-top-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.features-title {
    font-family: 'Raleway';
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
}

.features-description {
    font-size: 18px;
    line-height: 1.67;
    color: var(--fourth-text-color);
}

/* ------Стилізація секції masters----- */
.masters {
    background-color: var(--two-background-color);
}

.masters-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.masters-title {
    font-family: 'Raleway';
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
}

/* .masters-list {} */

.masters-item {
    cursor: pointer;
}

.masters-item-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.39;
}

.masters-item-text {
    font-size: 14px;
    line-height: 1.36;
    color: var(--accent-color);
}
/* ------Стилізація секції portfolio----- */
 /* .portfolio {} */

 .portfolio-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
 }

 /* .portfolio-list {} */

 /* .portfolio-item {} */

 /* ------Стилізація секції contacts----- */
 .contacts {
    background-color: #7e7a7a;
 }

 .contacts-title {
    font-family: 'Raleway';
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
    color: var(--third-title-color);
 }

 .contacts-address {
    font-style: normal;
    font-size: 18px;
    line-height: 1.67;
 }

 /* .contacts-list {
 } */

 /* .contacts-item {} */

 .contacts-link {
    color: var(--third-text-color)
 }

 .contacts-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--third-title-color);
 }

 .contacts-time {
    font-size: 18px;
    line-height: 1.67;
    color: var(--third-text-color);
 }

 /* ------Стилізація секції footer----- */
 .footer {
    background-color: var(--two-background-color);
 }

 .footer-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    color: var(--third-text-color);
 }

 .footer-list {}

 .footer-item {}

 .footer-link {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: var(--main-text-color);
 }